<section id="benefits" class="benefits swiper-container">
  <h2>Benefits</h2>
  <ul class="list-benefits swiper-wrapper">
    <li class="swiper-slide">
      <div class="image-benefits"></div>
      <div class="wrapper-text">
        <h3>Relaxing Gameplay</h3>
        <p>
          Unwind with stress-free, chill gaming sessions perfect for casual play
        </p>
      </div>
    </li>
    <li class="swiper-slide">
      <div class="image-benefits"></div>
      <div class="wrapper-text">
        <h3>Build Your Empire</h3>
        <p>
          Start with a small plot and grow into a thriving 420 business tycoon
        </p>
      </div>
    </li>
    <li class="swiper-slide text">
      <div class="image-benefits"></div>
      <div class="wrapper-text">
        <h3>Creative Customization</h3>
        <p>Design your cannabis farm with unique decorations and upgrades</p>
      </div>
    </li>
    <li class="swiper-slide">
      <div class="image-benefits"></div>
      <div class="wrapper-text">
        <h3>Community Vibes</h3>
        <p>
          Compete and connect with like-minded players in tournaments and events
        </p>
      </div>
    </li>
    <li class="swiper-slide">
      <div class="image-benefits"></div>
      <div class="wrapper-text">
        <h3>Rewards Galore</h3>
        <p>
          Unlock rare strains, upgrades, and exclusive items as you progress
        </p>
      </div>
    </li>
  </ul>
</section>
