<div class="burger-menu js-burger-menu">
  <div class="wrapper-mob-menu">
    <div class="container-logo-btn">
      <a class="logo js-logo" href="#hero">
        <img src="./img/header/mobile/logo@2x.jpg" alt="logo" />
      </a>
      <button
        type="button"
        class="btn-close-menu js-close-menu"
        aria-label="Close menu"
      >
        <img
          src="./img/general/mobile/closed@2x.png"
          alt="close menu"
          class="img-close-btn"
        />
      </button>
    </div>

    <div class="wrapper-mob-nav">
      <ul class="mob-menu_list">
        <li class="mob-menu-item">
          <a href="#hero" class="mob-menu-link js-menu-link">Home</a>
        </li>
        <li class="mob-menu-item">
          <a href="#benefits" class="mob-menu-link js-menu-link">Benefits</a>
        </li>
        <li class="mob-menu-item">
          <a href="#gallery-slider" class="mob-menu-link js-menu-link"
            >Gallery</a
          >
        </li>
        <li class="mob-menu-item">
          <a href="#why-choose-us" class="mob-menu-link js-menu-link"
            >Why Choose Us</a
          >
        </li>
        <li class="mob-menu-item">
          <a href="#how-to-play" class="mob-menu-link js-menu-link"
            >How to Play</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
