<section id="gallery-slider" class="gallery swiper-container">
  <h2>Gallery</h2>
  <ul class="swiper-wrapper">
    <li
      class="swiper-slide"
      style="background-image: url('/img/gallery/desktop/gallery1@2x.jpg')"
    ></li>
    <li
      class="swiper-slide"
      style="background-image: url('/img/gallery/desktop/gallery2@2x.jpg')"
    ></li>
    <li
      class="swiper-slide"
      style="background-image: url('/img/gallery/desktop/gallery3@2x.jpg')"
    ></li>
    <li
      class="swiper-slide"
      style="background-image: url('/img/gallery/desktop/gallery4@2x.jpg')"
    ></li>
    <li
      class="swiper-slide"
      style="background-image: url('/img/gallery/desktop/gallery5@2x.jpg')"
    ></li>
  </ul>
  <!-- Навігація -->
  <div class="wrapper-swiper-leaves">
    <div class="swiper-pagination"></div>
  </div>
</section>
