<header>
  <a class="logo" href="">
    <img src="../img/header/mobile/logo@2x.jpg" alt="logo" />
  </a>
  <button type="button">
    <img src="../img/header/mobile/Burger Menu.png" alt="" />
  </button>
  <nav>
    <ul class="nav-list-left">
      <li><a href="">Home</a></li>
      <li><a href="">Benefits</a></li>
      <li><a href="">Gallery</a></li>
    </ul>
    <ul class="nav-list-right">
      <li><a href="">Why Choose Us</a></li>
      <li><a href="">How to Play</a></li>
    </ul>
  </nav>
</header>
