<section class="hero">
  <div class="container-hero">
    <div class="wrapper-line">
      <div class="red-line"></div>
      <div class="yellow-line"></div>
      <div class="green-line"></div>
    </div>
    <div class="wrapper-main-text">
      <div class="title-wrapper">
        <h1 class="main-tittle">Weed Mania:</h1>
        <div class="main-text-span">
          <h1>Chill <span>420</span> Club</h1>
        </div>
      </div>
      <div class="container-text">
        <ul class="text">
          <li>Grow,</li>
          <li>Chill,</li>
          <li>and</li>
        </ul>
        <p>Dominate the 420 World!</p>
      </div>
    </div>
    <button class="btn-main-page js-button-googleplay" type="button">
      <img src="./img/general/mobile/google@2x.png" alt="google" />
      <div class="wrapper-img">
        <p>Download now on</p>
        <img src="./img/hero/mobile/google_play.png" alt="google_play" />
      </div>
    </button>
  </div>
  <div class="image-container">
    <div class="image-one"></div>
    <div class="image-two"></div>
  </div>
</section>
