<section id="how-to-play" class="play">
  <h1 class="play-head">How to Play</h1>
  <ul class="list">
    <li class="item-play">
      <div class="head-item">
        <h2 class="text-play">Plant and Grow</h2>
        <button class="btn-down">
          <img src="../img/general/mobile/mob_play_right.png" alt="" />
        </button>
      </div>
      <div class="item-content">
        <img class="btn-arrow" src="../img/play/mobile/play1.jpeg" alt="" />
        <p class="content-text">
          Start with basic strains and nurture your plants
          <span> to full bloom</span>
        </p>
      </div>
    </li>
    <li class="item-play">
      <div class="head-item">
        <h2 class="text-play">Harvest and Sell</h2>
        <button class="btn-down">
          <img src="../img/general/mobile/mob_play_right.png" alt="" />
        </button>
      </div>
      <div class="item-content">
        <img class="btn-arrow" src="../img/play/mobile/play2.jpg" alt="" />
        <p class="content-text">
          Collect your yield and trade <span>it for in-game currency</span>
        </p>
      </div>
    </li>
    <li class="item-play">
      <div class="head-item">
        <h2 class="text-play">Expand Your Farm</h2>
        <button class="btn-down">
          <img src="../img/general/mobile/mob_play_right.png" alt="" />
        </button>
      </div>
      <div class="item-content">
        <img class="btn-arrow" src="../img/play/mobile/play3.jpg" alt="" />
        <p class="content-text">
          Upgrade equipment, unlock new strains, and decorate your farm
        </p>
      </div>
    </li>
    <li class="item-play">
      <div class="head-item">
        <h2 class="text-play">Complete Challenges</h2>
        <button class="btn-down">
          <img src="../img/general/mobile/mob_play_right.png" alt="" />
        </button>
      </div>
      <div class="item-content">
        <img class="btn-arrow" src="../img/play/mobile/play4.jpg" alt="" />
        <p class="content-text">
          Participate in events to earn exclusive rewards and boost your ranking
        </p>
      </div>
    </li>
    <li class="item-play">
      <div class="head-item">
        <h2 class="text-play">Chill and Enjoy</h2>
        <button class="btn-down">
          <img src="../img/general/mobile/mob_play_right.png" alt="" />
        </button>
      </div>
      <div class="item-content">
        <img class="btn-arrow" src="../img/play/mobile/play5.jpg" alt="" />
        <p class="content-text">
          Immerse yourself in a relaxing, creative experience while building
          your 420 empire
        </p>
      </div>
    </li>
  </ul>
  <div class="sect-goog">
    <div class="join">
      <div>
        <p>Join the chillest</p>
        <p>club in gaming —</p>
      </div>
      <div>
        <p>download Weed Mania:</p>
        <p>Chill 420 Club today!</p>
      </div>
    </div>
    <button class="btn-main-page js-button-googleplay" type="button">
      <img src="./img/general/mobile/google@2x.png" alt="google" />
      <div class="wrapper-img">
        <p>Download now on</p>
        <img src="./img/hero/mobile/google_play.png" alt="google_play" />
      </div>
    </button>
  </div>
</section>
