.foote-cont {
  height: 111px;
  width: 320px;
}

.trash {
  display: none;
}
.list-foot {
  padding: 29px 16px 24px 16px;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  text-align: center;

  .item-foot {
    margin-bottom: 8px;
  }
  .rights {
    display: block;
    text-align: center;
  }
  .rights {
    display: block;
  }
}
@include media(desktop) {
  .list-foot {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .item-foot p {
    margin-bottom: 0;
    display: flex;
    gap: 5px;
  }
  .trash {
    display: flex;
  }
  .list-foot li:nth-child(3) {
    order: 5;
  }
  .list-foot li:nth-child(4) {
    order: 4;
  }
  .list-foot li:nth-child(5) {
    order: 3;
  }
}
