@import './header.scss';
@import './benefits.scss';
@import './burger.scss';
@import './choose.scss';
@import './footer.scss';
@import './gallery.scss';
@import './hero.scss';
@import './play.scss';
@import './leaves.scss';
@import './vite-promo.scss';

:root {
  font-family: 'Lato', sans-serif;
  @include font(18, 27);
  font-weight: 400;

  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  padding-left: 16px;
  z-index: 2;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(24, 24, 24);
  min-width: 289px;
  overflow: hidden;

  @media screen and (max-width: 319px) {
    width: 100%;
  }
  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @include media(desktop) {
    padding-left: 86px;
    padding-right: 86px;
    width: 1200px;
  }
}
